body {
    margin: 0;
    background-color: #b00202;
    background-size: 100%;
    font-size: 28px;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.socialImage {
    order: 1;
    width: 120px;
    height: 120px;
    padding: 10px;
}

.text {
    padding-left: 10px;
    order: 1;
}

.topButton {
    height: 50px;
    background: #000000;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 20px;
}

.topButton:hover {
    background: #FFFFFF;
    color: #000000;
}

.topDropBtn {
    height: 50px;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background: #FFFFFF;
            color: #000000;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .topDropBtn {
    background: #FFFFFF;
    color: #000000;
}

.Title {
    font-size: 48px;
}

.btnProj {
    height: 100px;
    width: 200px;
    background: #000000;
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px;
}

.topColumn {
    float: left;
    width: 25%;
}

.topRow::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.header {
    top: 300px;
    width: inherit;
    background-color: #000000;
    z-index: 1;
    height: 100px;
}

.spotify {
    frameborder: "0";
    allowtransparency: "true";
    allow: "encrypted-media";
    margin: 10px;
    height: 525px;
}

.downloadPic {
    height: auto;
    width: 15%;
    margin: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    body {
        margin: 0;
        background-color: #b00202;
        background-size: 100%;
        font-size: 20px;
        color: #ffffff;
    }

    .header {
        top: 300px;
        width: inherit;
        background-color: #000000;
        z-index: 1;
        height: 50px;
    }

    .socialImage {
        order: 1;
        width: 120px;
        height: 120px;
        padding: 10px;
    }

    .text {
        padding-left: 10px;
        order: 1;
    }
}
