body {
    background-color: #b00202;
    background-size: 100%;
    font-size: 20px;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

img {
    width: 100px;
    height: 100px;
}

.image {
    order: 1;
}

.text {
    padding-left: 20px;
    order: 1;
}

.topButton {
    height: 50px;
    background: #000000;
    color: #FFFFFF;
    font-size: 20px;
}

.btnOpenRnd {
    height: 100px;
    width: 200px;
    background: #000000;
    color: #FFFFFF;
    font-size: 20px;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}
