
body {
  background-color: #D01313;
  background-size: 100%;
  font-size: 22px;
  color: var(#ffffff);
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
}

img {
  width: 100px;
  height: 100px;
}

.image {
  order: 1;
}

.text {
  padding-left: 20px;
  order: 1;
}

.btnOpenRnd {
  height:100px;
  width:200px;
  background: #000000;
  color: #FFFFFF;
  font-size:20px;
}
