body, html {
    height: 100%;
}

.pixelBack {
    background-image: url("pics/pixelBack.png");
    background-repeat: repeat;
    background-size: initial;
}

.TLDLogo {
    width: 100px;
    height: 100px;
}

.URLPic {
    width: 375px;
    height: 75px;
}

.musicColumn {
    float: left;
    width: 16.6%;
}

.musicRow::after {
    content: "";
    clear: both;
    display: table;
}

.testParallax {
    /* The image used */
    background-image: url('pics/BOTWWallpaper.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.editsCaption {
    height: 52px;
    width: 3.5%;
    background-image: url('pics/picInfo.png');
    overflow: hidden;
    background-size: inherit;
    font-size: 0px;
}

    .editsCaption:hover {
        background-image: none;
        height: 300px;
        width: 100%;
        color: #ffffff;
        background-color: #000000;
        text-align: center;
        padding: 5px 80px;
        text-align: justify;
        font-size: inherit;
    }

.scrollButton {
    position: fixed;
    bottom: 5px;
    align-self: center;
    width: 200px;
    margin-left: -100px;
    background: transparent;
    cursor: pointer;
}

.deleEdit {
    background-image: url('pics/Edits/Dele Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reidEdit {
    background-image: url('pics/Edits/Reid Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adamaEdit {
    background-image: url('pics/Edits/Adama Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grealishEdit {
    background-image: url('pics/Edits/Grealish Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gilmourEdit {
    background-image: url('pics/Edits/Gilmour Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.englandEdit {
    background-image: url('pics/Edits/England Edit.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .TLDLogo {
        width: 50px;
        height: 50px;
    }

    .URLPic {
        width: 190px;
        height: 38px;
    }

    .musicColumn {
        float: left;
        width: 100%;
    }

    .musicRow::after {
        content: "";
        clear: both;
        display: table;
    }
}