:root {
--text-colour: #000080;
}

body {
background-color: #b76e79;
background-size: 100%;
font-size: 48px;
color: var(--text-colour);
}

h1 {
font-family: Ink Free;
}

h2 {
font-family: Copperplate Gothic Light;
}

.button1 {
 height:250px;
    width:500px;
    background: #000080;
    color: #b76e79;
    font-size:56px;
}